<!DOCTYPE html>
<html lang="en" >
<head>
    
  <meta charset="UTF-8">
  <title>MyTrip</title>
  <link rel="stylesheet" href="../static/cssPage.css"> <!--path-->

</head>
<body>
    <form action="../views/MapPage.html">
    <div class="form-field">
    <input type="email" placeholder="Email / Username" required/> <!--UserName-->
    </div>
    <div class="form-field">
    <input type="password" placeholder="Password" required/> <!--password-->        
    </div>
    <div class="form-field">
    <button class="btn" type="submit">Log In</button> <!--login buttun-->
    </div>
    </form>

  
</body>
</html>
